#page {

	$page_width : 920px;
	$base_size  : 24px;
	$bg_color   : #eee;
	$fg_color   : #000;

	max-width: $page_width;
	margin: 0 auto;
	
	h1 {
		display: block;
		font-size: $base_size * 2; line-height: 1.5;
		padding: $base_size / 2  $base_size;
		// invert colors
		background: $fg_color; color: $bg_color;
	}

	form {

		padding: $base_size $base_size $base_size / 2 $base_size;
		background: $bg_color;

		input {
			font-size: $base_size;
			padding: $base_size / 4;
			margin: $base_size / 2;
		}

		button {
			font-size: $base_size;
			margin: $base_size / 2;
		}

		dt {
			font-weight: bold;
			font-size: $base_size / 2;
		}

		.rememberme {
			font-size: $base_size / 1.5; line-height: 1;
		}

	}

	p {
		font-size: $base_size / 2;
		padding: $base_size;
	}

}