/* line 1, ../src/signin.scss */
#page {
  max-width: 920px;
  margin: 0 auto;
}
/* line 11, ../src/signin.scss */
#page h1 {
  display: block;
  font-size: 48px;
  line-height: 1.5;
  padding: 12px 24px;
  background: black;
  color: #eeeeee;
}
/* line 19, ../src/signin.scss */
#page form {
  padding: 24px 24px 12px 24px;
  background: #eeeeee;
}
/* line 24, ../src/signin.scss */
#page form input {
  font-size: 24px;
  padding: 6px;
  margin: 12px;
}
/* line 30, ../src/signin.scss */
#page form button {
  font-size: 24px;
  margin: 12px;
}
/* line 35, ../src/signin.scss */
#page form dt {
  font-weight: bold;
  font-size: 12px;
}
/* line 40, ../src/signin.scss */
#page form .rememberme {
  font-size: 16px;
  line-height: 1;
}
/* line 46, ../src/signin.scss */
#page p {
  font-size: 12px;
  padding: 24px;
}
